{
    "presets": [["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3 }], "@babel/preset-react"],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-modules-commonjs",
        ["@babel/transform-runtime", { "corejs": 3 }],
        ["module-resolver", { "root": ["./src"] }]
    ]
}
