{
    "presets": [
        "@babel/preset-env",
        // ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": 3 }],
        // "@babel/preset-react",
        ["@babel/preset-react", { "runtime": "automatic" }],
        "@babel/preset-typescript"
    ],
    "plugins": [
        ["module-resolver", { "root": ["./src"] }],
        ["@babel/transform-runtime", { "corejs": 3 }]
    ]
}
