{
    "//plugins": ["./node_modules/prettier-plugin-multiline-arrays"],
    "printWidth": 88,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "always",
    "multilineArraysWrapThreshold": 2
}
